@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  background-color: #049a97;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;

  .wrapper {
    display: flex;
    padding: 30px 85px;
    background-color: white;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgb(0, 0, 0.6);
    @include tablet {
      transform: scale(0.8);
    }
    @include mobile {
      transform: scale(0.7);
    }

    .logo {
      font-weight: bold;
      font-size: 24px;
      color: #05a09d;
    }
    .title {
      color: #047472;
      font-size: 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        border: none;
        padding: 10px;
        width: 250px;
        outline: none;
        border-bottom: 1px solid #069e9c;
        font-family: "Poppins", sans-serif;

        ::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        padding: 13px;
        background-color: #069e9c;
        color: white;
        border: none;
        font-size: 15px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
      }
      button:hover {
        background-color: #0878a1;
        box-shadow: 0 0 2px black;
      }
      .forget {
        padding: 0;
        gap: 0;
        font-size: 12px;
        color: #0b7196;
        position: relative;
        left: -28%;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        color: #047472;
        gap: 10px;
        font-size: 12px;
        cursor: pointer;

        .Avatar {
          width: 32px;
        }
      }
    }
    .footer {
      color: #047472;
      font-size: 13px;
      margin-top: 20px;
    }
    .google {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      padding-left: 15px;
      color: rgb(175, 175, 175);
      padding-right: 15px;
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        border: 1px solid rgb(0, 98, 255);
        box-shadow: 0 0 2px rgb(25, 110, 247);
      }
      img {
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.home {
  height: 100vh;
  align-items: center;
  display: flex;
  background-color: #049a97;
  justify-content: center;

  .container1 {
    border-radius: 10px;
    border: 1px solid white;
    width: 70%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
      transform: scale(0.9);
    }
    @include mobile {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #026261;
      display: flex;
      flex-direction: column;
      position: relative;

      .Navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #034343;
        height: 50px;
        padding: 10px;
        color: #a8fcfa;
        font-family: "Poppins", sans-serif;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "Poppins", sans-serif;

          @include tablet {
            font-weight: bold;
          }

          .dp {
            background-color: #a8fcfa;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            object-fit: cover;
            @include tablet {
              height: 40px;
              width: 40px;
            }
          }
          button {
            background-color: #069e9c;
            border: none;
            font-size: 12px;
            color: #b8e6e5;
            cursor: pointer;
            border-radius: 7px;
            font-family: "Poppins", sans-serif;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }

            &:hover {
              background-color: #0878a1;
              box-shadow: 0 0 2px black;
            }
          }
        }
      }
    }
    .search {
      border-bottom: 1px solid gray;
      font-family: "Poppins", sans-serif;

      .searchForm {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        input {
          background-color: transparent;
          border: none;
          color: white;
          width: 100%;
          outline: none;
          font-family: "Poppins", sans-serif;

          padding: 10px;
          &::placeholder {
            color: lightgray;
          }
        }
      }
      .userChat {
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 95.5%;
        color: white;
        cursor: pointer;
        font-size: 15px;
        @include mobile {
          font-size: 12px;
        }

        &:hover {
          background-color: #034343;
          transition-delay: 0.05s;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;

          @include mobile {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
    .chats {
      font-family: "Poppins", sans-serif;
      .userChat1 {
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #034343;
          transition-delay: 0.05s;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;

          @include mobile {
            height: 35px;
            width: 35px;
          }
        }

        .userChatInfo1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          span {
            font-size: 15px;
            font-weight: 500;
            float: left;

            @include tablet {
              font-size: 14px;
            }
            @include mobile {
              font-size: 12px;
            }
          }
          .texts {
            font-size: 11px;
            color: lightgray;

            @include tablet {
              font-size: 9px;
            }
            @include mobile {
              font-size: 8px;
            }
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #0f6262;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        color: lightgray;

        .chatIcons {
          display: flex;
          gap: 10px;

          .icons {
            height: 24px;
            cursor: pointer;
          }
        }
      }
      .messages {
        background-color: #99d3cf;
        font-family: "Poppins", sans-serif;
        padding: 10px;

        height: calc(100% - 150px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;
          padding: 10px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300px;

            @include mobile {
              font-size: 14px;
            }
          }
          .img1 {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;

            @include mobile {
              width: 35px;
              height: 35px;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 8px 15px;
              border-radius: 0 10px 10px 10px;
              max-width: max-content;

              @include mobile {
                font-size: 12px;
              }
            }
            .img2 {
              width: 50%;
            }
          }
          &.owner {
            display: flex;
            flex-direction: row-reverse;
            .messageContent {
              align-items: flex-end;
              p {
                background-color: #0fbd89;
                padding: 8px 15px;
                color: white;
                border-radius: 10px 0 10px 10px;

                @include mobile {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .input {
        background-color: white;
        height: 50px;
        padding: 10px;
        display: flex;
        font-family: "Poppins", sans-serif;
        align-items: center;
        justify-content: space-between;

        @include mobile {
          height: 40px;
          position: absolute;
          bottom: 0;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #045352;
          font-size: 18px;
          font-family: "Poppins", sans-serif;

          @include mobile {
            font-size: 14px;
          }
          &::placeholder {
            color: lightgray;
          }
        }
        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;

            @include mobile {
              height: 19px;
              width: 19px;
            }
          }
          button {
            color: white;
            background-color: #05a09d;
            border: none;
            padding: 5px 15px;
            font-family: "Poppins", sans-serif;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: #0b905d;
            }
          }
        }
      }
    }
  }
}
